{% extends "base.html" %}
{% load static %}

{% block title %} Home {% endblock title %}

{% block css_files %} 
<link rel="stylesheet" href="{% static "text_utils/index.css" %}">
{% endblock css_files %}

{% block content %} 
    <h1>Welcome to Text Analyzer.</h1>
    <p>Enter your Text below :<p>
    <form action="/analyze" method="get"> 
        <textarea id="textarea" name="text"></textarea>
        <br></br>
        <input type="checkbox" name="remove_punc"> Remove Puncuations<br></br>
        <input type="checkbox" name="uppercase"> UPPERCASE <br></br>
        <input type="checkbox" name="new_line_remover"> New Line Remover <br></br>
        <input type="checkbox" name="capitalize_first"> Capitalize First <br></br>
        <input type="checkbox" name="remove_extra_space"> Remove Extra Space <br></br>
        <input type="checkbox" name="char_count"> Char Count <br></br>
    <button type="submit"> Analyze Text </button>
    </form>

    {% endblock content %}